#root {
  max-width: 1360px;
  margin: 0 auto;
  padding: 2rem;
}

#jo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.jo-item {
  flex-basis: 290px;
  padding: 0px 16px 16px;
  flex-direction: column;
  border: 1px #BBB solid;
  border-radius: 8px;
}

.jo-entry {
  display: flex;
  justify-content: center;
}

.jo-entry .scores {
  display: flex;
  flex-basis: 32px;
  margin: 0px 8px;
  justify-content: space-between;
  font-weight: bold;
}

.jo-entry .left,.right {
  width: auto;
  flex-basis: calc(50% - 16px - 8px);
  text-align: center;
}

#tn-container {
  display: flex;
  gap: 16px;
}

.tn-column {
  flex-basis: 324px;
}

.tn-column-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.tn-title {
  margin-left: 8px;
}

.tn-item {
  padding: 16px;
  flex-direction: column;
  border: 1px #BBB solid;
  border-radius: 8px;
}

.hidden {
  opacity: 0;
}

.winner {
  font-weight: bold;
  color: darkcyan;
}